In [5]:
from sqlalchemy import create_engine
from pglast import Node, parse_sql
import pandas as pd

In [6]:
##################################################3
# 記得填寫 Artichoke DB 帳密
##################################################3
db_url='postgresql+psycopg2://{帳號}:{密碼}@10.101.2.19/artichoke'
engine = create_engine(db_url)
%matplotlib inline

In [7]:
# 從 site_info 撈出我們有在使用的 func_name 有哪些
sql = '''SELECT
    site.site_id,
    site.sname,
    site.is_active,
    site.is_released,
    site.sniffer,
    f.proname AS func_name,    
    pg_get_functiondef(f.oid)
FROM pg_catalog.pg_proc f
INNER JOIN public.site_info site ON (f.proname = any(site.func))   -- 只撈 site_info func 有定義的
ORDER BY site_id
'''

df = pd.read_sql(sql, engine)

In [8]:
df.head()

,site_id,sname,is_active,is_released,sniffer,func_name,pg_get_functiondef
0,13103,HOLA上海五角,True,False,[74da38db1f04],wujiaochang_hola,CREATE OR REPLACE FUNCTION public.wujiaochang_...
1,1A01,TLW桃園南崁店,True,True,[74da38db1f97],nankan_tlw,CREATE OR REPLACE FUNCTION public.nankan_tlw(_...
2,1A02,TLW新莊店,True,True,"[74da38b992a1, 08beac0cdb47]",xinzhuang_tlw_rpi,CREATE OR REPLACE FUNCTION public.xinzhuang_tl...
3,1A03,TLW高雄大順店,True,True,[08beac0e013a],dashun_tlw,CREATE OR REPLACE FUNCTION public.dashun_tlw(_...
4,1A05,TLW嘉義店,True,True,[74da38db2031],chiayi_tlw,CREATE OR REPLACE FUNCTION public.chiayi_tlw(_...

In [12]:
def parse_counter_func(sql):
    root = Node(parse_sql(sql))
    e = root[0].stmt
    f1_def_sql = e.parse_tree['options'][1]['DefElem']['arg'][0]['String']['str']
    crt_f1_body = Node(parse_sql(f1_def_sql))
    crt_f1_node = crt_f1_body[0].stmt.parse_tree['fromClause'][0]['RangeFunction']['functions'][0][0]['FuncCall']
    call_func_name = '.'.join([e['String']['str'] for e in crt_f1_node['funcname']])

    def get_val(e_val):
        if 'String' in e_val:
            return e_val['String']['str']
        elif 'Integer' in e_val:
            return e_val['Integer']['ival']
        elif 'Float' in e_val:
            return e_val['Float']['str']

    def f(node):
        if 'arg'in node:
            e = node['arg']
        else:
            e = node

        if 'A_Const' in e:
            e_val = e['A_Const']['val']
            return ('A_Const', None, get_val(e_val))
        elif 'ColumnRef' in e:
            e_val = e['ColumnRef']['fields'][0]
            return ('ColumnRef', None, get_val(e_val))
        elif 'FuncCall' in e:
            e_val = e['FuncCall']['funcname'][0]
            return ('FuncCall', None, get_val(e_val))
        elif 'TypeCast' in e:
            e_val = e['TypeCast']
            return ('TypeCast', None, f(e_val)[-1])
        elif 'NamedArgExpr' in e:
            e_val = e['NamedArgExpr']
            return ('NamedArgExpr', e['NamedArgExpr']['name'], f(e_val)[-1])

    call_func_params = [f(e) for e in crt_f1_node['args']]

    return (call_func_name, call_func_params)

In [13]:
# 根據 將 func Create SQL 丟到 parse_counter_func 取得裡面呼叫方式與參數

l = []
for idx, row in df.drop_duplicates(subset='func_name').iterrows():
    try:
        call_func_name, call_func_parms = parse_counter_func(row.pg_get_functiondef)

        l.append({
            'func_name': row.func_name,
            'counter_func': call_func_name,
            'counter_func_parms': call_func_parms,
        })
    except:
        # Hoi微風不符合規範的 counter-funcion. 無法運作
        print('ERROR', idx, row.func_name)

cnt_func_df = pd.DataFrame(l)
cnt_func_df

ERROR 103 xinyi_hoi_50
ERROR 104 xinyi_hoi
ERROR 105 xinyi_hoi_area

,func_name,counter_func,counter_func_parms
0,wujiaochang_hola,public.counter,"[(A_Const, None, 74da38db1f04), (A_Const, None..."
1,nankan_tlw,public.counter,"[(A_Const, None, 74da38db1f97), (A_Const, None..."
2,xinzhuang_tlw_rpi,public.counter_union,"[(A_Const, None, 74da38b992a1), (A_Const, None..."
3,dashun_tlw,public.counter,"[(A_Const, None, 08beac0e013a), (A_Const, None..."
4,chiayi_tlw,public.counter,"[(A_Const, None, 74da38db2031), (A_Const, None..."
...,...,...,...
109,dawenchang_hoi,public.counter,"[(A_Const, None, 08beac0283f1), (A_Const, None..."
110,tpsongshannanjing_hoi,public.counter,"[(A_Const, None, 08beac0cdb46), (A_Const, None..."
111,zuoying_hoi,public.counter_union,"[(A_Const, None, 08beac0e0219), (A_Const, None..."
112,zuoying_hoi_area,public.counter_union,"[(A_Const, None, 08beac0e01ff), (A_Const, None..."
113,tcnantun_hoi,public.counter,"[(A_Const, None, 08beac0283ed), (A_Const, None..."

In [14]:
# 將 sniffer 參數抽出

cnt_func_list = []

for idx, row in cnt_func_df.iterrows():
    if 'union' in row.counter_func:
        sniffer_list = [row.counter_func_parms[0][-1], row.counter_func_parms[2][-1]]
    else:
        sniffer_list = [row.counter_func_parms[0][-1]]
        
    cnt_func_list.append(dict(
        func_name=row.func_name,
        counter_func=row.counter_func,
        sniffer=sniffer_list,
    ))

cnt_func_sniffer = pd.DataFrame(cnt_func_list)

In [15]:
cnt_func_sniffer

                 func_name          counter_func                       sniffer
0         wujiaochang_hola        public.counter                [74da38db1f04]
1               nankan_tlw        public.counter                [74da38db1f97]
2        xinzhuang_tlw_rpi  public.counter_union  [74da38b992a1, 08beac0cdb47]
3               dashun_tlw        public.counter                [08beac0e013a]
4               chiayi_tlw        public.counter                [74da38db2031]
..                     ...                   ...                           ...
109         dawenchang_hoi        public.counter                [08beac0283f1]
110  tpsongshannanjing_hoi        public.counter                [08beac0cdb46]
111            zuoying_hoi  public.counter_union  [08beac0e0219, 08beac0e01ff]
112       zuoying_hoi_area  public.counter_union  [08beac0e01ff, 08beac0e0219]
113           tcnantun_hoi        public.counter                [08beac0283ed]

[114 rows x 3 columns]

In [ ]:
# 自行根據需求整併 df, cnt_func_df, cnt_func_sniffer 資訊

In [19]:
# 範例: 抽 site_id, func_name, sniffer
tt_df = pd.merge(
    df[['site_id', 'func_name']],
    cnt_func_sniffer['func_name,sniffer'.split(',')].explode('sniffer'),
    on='func_name',
    how='outer',
)

## 記得更改檔案輸出路徑!!!!!
tt_df.to_excel('/Users/dream/Desktop/20201231counter_func sniffer.xlsx', encoding='utf-8_sig')